@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@500&family=Raleway:wght@900&family=Sintony:wght@700&display=swap');

/*
font-family: 'Palanquin', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Sintony', sans-serif;
*/

body{
  background-color: #f2e0bf;
}

.site-header{
 background-color: black; 
}

.logo{
  width: 50px;
}

h1, nav{
  color:white;
  font-family: 'Palanquin', sans-serif;
}

