@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&family=Palanquin:wght@500&family=Raleway:wght@900&family=Sintony:wght@700&display=swap');

/*
font-family: 'Palanquin', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Sintony', sans-serif;
*/

body{
  background-color: #f2e0bf;
  font-family: 'Palanquin', sans-serif
}

.site-header{
 background-color: black; 
 width: 100%;
 padding: 20px;
 
}

.logo{
  width: 32px;
  display:inline;
}

.homepage{
  display: inline;
  font-family: 'Raleway', sans-serif;
}

nav{
  color:white;
  font-family: 'Raleway', sans-serif;

  display:inline;
  text-align:center;
}



/* Navbar links configuration */
.homepage a:link, a:visited{
  font-size: 40px;
  color: white;
  text-decoration: none;
}
.homepage a:hover{
  text-decoration: underline;
  text-decoration-color: rgb(0,255,255);
}

nav a:link, a:visited {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(0,255,255);
}

/* Body links configuration*/
.body a:link {
  color: black;
   text-decoration: underline;
   text-decoration-color: cyan;
  text-decoration-thickness: 3px;
}
.body a:visited {
  color: black;
  text-decoration: underline;
   text-decoration-color: cyan;
  text-decoration-thickness: 3px;
}
.body a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(0,255,255);
  text-decoration-thickness: 5px;
}







